<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>LibraryManagementSystem</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>MyConServlet</display-name>
    <servlet-name>MyConServlet</servlet-name>
    <servlet-class>library.MyConServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MyConServlet</servlet-name>
    <url-pattern>/MyConServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>StudentServlet</display-name>
    <servlet-name>StudentServlet</servlet-name>
    <servlet-class>library.StudentServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StudentServlet</servlet-name>
    <url-pattern>/StudentSevrlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SearchByAuthorServlet</display-name>
    <servlet-name>SearchByAuthorServlet</servlet-name>
    <servlet-class>library.SearchByAuthorServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SearchByAuthorServlet</servlet-name>
    <url-pattern>/SearchByAuthorServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SearchByTitleServlet</display-name>
    <servlet-name>SearchByTitleServlet</servlet-name>
    <servlet-class>library.SearchByTitleServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SearchByTitleServlet</servlet-name>
    <url-pattern>/SearchByTitleServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SearchByPublisherServlet</display-name>
    <servlet-name>SearchByPublisherServlet</servlet-name>
    <servlet-class>library.SearchByPublisherServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SearchByPublisherServlet</servlet-name>
    <url-pattern>/SearchByPublisherServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>StudentLoginServlet</display-name>
    <servlet-name>StudentLoginServlet</servlet-name>
    <servlet-class>library.StudentLoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StudentLoginServlet</servlet-name>
    <url-pattern>/StudentLoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Login</display-name>
    <servlet-name>Login</servlet-name>
    <servlet-class>library.Login</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Login</servlet-name>
    <url-pattern>/Login</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SearchServlet</display-name>
    <servlet-name>SearchServlet</servlet-name>
    <servlet-class>library.SearchServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SearchServlet</servlet-name>
    <url-pattern>/SearchServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CheckAvailability</display-name>
    <servlet-name>CheckAvailability</servlet-name>
    <servlet-class>library.CheckAvailability</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CheckAvailability</servlet-name>
    <url-pattern>/CheckAvailability</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>HistoryServlet</display-name>
    <servlet-name>HistoryServlet</servlet-name>
    <servlet-class>library.HistoryServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HistoryServlet</servlet-name>
    <url-pattern>/HistoryServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddBookSevlet</display-name>
    <servlet-name>AddBookSevlet</servlet-name>
    <servlet-class>library.AddBookSevlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddBookSevlet</servlet-name>
    <url-pattern>/AddBookSevlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>addServlet</display-name>
    <servlet-name>addServlet</servlet-name>
    <servlet-class>library.addServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>addServlet</servlet-name>
    <url-pattern>/addServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EditBookServlet</display-name>
    <servlet-name>EditBookServlet</servlet-name>
    <servlet-class>library.EditBookServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditBookServlet</servlet-name>
    <url-pattern>/EditBookServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteBookServlet</display-name>
    <servlet-name>DeleteBookServlet</servlet-name>
    <servlet-class>library.DeleteBookServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteBookServlet</servlet-name>
    <url-pattern>/DeleteBookServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>IssueBookServlet</display-name>
    <servlet-name>IssueBookServlet</servlet-name>
    <servlet-class>library.IssueBookServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>IssueBookServlet</servlet-name>
    <url-pattern>/IssueBookServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>IssueDateServlet</display-name>
    <servlet-name>IssueDateServlet</servlet-name>
    <servlet-class>library.IssueDateServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>IssueDateServlet</servlet-name>
    <url-pattern>/IssueDateServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CollectionServlet</display-name>
    <servlet-name>CollectionServlet</servlet-name>
    <servlet-class>library.CollectionServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CollectionServlet</servlet-name>
    <url-pattern>/CollectionServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SignUpServlet</display-name>
    <servlet-name>SignUpServlet</servlet-name>
    <servlet-class>library.SignUpServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SignUpServlet</servlet-name>
    <url-pattern>/SignUpServlet</url-pattern>
  </servlet-mapping>
</web-app>